language: julia
codecov: true

## Documentation: http://docs.travis-ci.com/user/languages/julia/

os:
  - linux
  # - osx
julia:
  - 1
  # - nightly
notifications:
  email: false
git:
  depth: 99999999

## uncomment the following lines to allow failures on nightly julia
## (tests will run but not make your overall status red)
# jobs:
#   allow_failures:
#   - julia: nightly
